.img-1 {
    background-image: url(../media/cosm.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightpink;
    color: mediumvioletred;
}

.img-0 {
    background-image: url(../media/cosm0.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightpink;
    color: mediumvioletred;
}

.h-divider{
    margin-top:5px;
    margin-bottom:10px;
    height:1px;
    width:100%;
    border-top: 2px solid mediumvioletred;
}

.h2-divider{
    margin-top:5px;
    margin-bottom:10px;
    height:1px;
    width:100%;
    border-top: 2px dotted grey;
}